include README.md requirements.txt requirements-dev.txt LICENSE
recursive-include wasabi2d *.py *.png *.ttf
recursive-include examples *.py *.png *.ttf

prune venv*
prune examples/v
prune .tox
prune moderngl
